<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrowdCode</title>

    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
</head>

<body>
    <img src="../static/img/backgroundimage.png" id="bg">
    <div class="header">
        <ul>
            <li><a href="https://github.com/littlewonder/crowdcode/blob/master/README.md">About Us</a></li>
            <li><a href="https://github.com/littlewonder/crowdcode">Source Code</a></li>
            <li><a href="https://github.com/littlewonder/crowdcode">Contribute</a></li>
        </ul>
    </div>
    <div class="content">
        <img src="../static/img/headerimage.png" class="headerimg">
        <div class="action">
            <img src="../static/img/applogo.svg" class="appicon">
            <h1>Learning programming should not be hard.</h1>
            <a href="#" class="android"><button><img src="../static/img/android%20-%20material.svg">Download the Android version</button></a>
            <a href="#" class="ios"><button><img src="../static/img/ion-social-apple%20-%20Ionicons.svg">Download the iOS version</button></a>
        </div>
    </div>

</body>

</html>
<link rel="stylesheet" href="../static/style.min.css">